@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  min-height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*шрифти*/
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProRegular.eot");
  src: local("☺"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype"), url("../fonts/MyriadProRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/*общие блоки*/
html {
  scroll-behavior: smooth;
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
}

.title {
  font-family: Lato;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 27px;
  }
}

.black-line {
  width: 81px;
  height: 1px;
  background-color: #000000;
  margin: 35px 0 37px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav__wrap {
  width: 100%;
  min-height: 58px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

@media (max-width: 767.98px) {
  .nav__wrap {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .nav__wrap._active {
    top: 0;
  }
}

.nav__item:hover {
  font-weight: 700;
}

.nav__link:hover {
  color: #ada074;
}

.nav__link {
  color: #3c3c3c;
}

.nav__item {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  padding: 0 0 0 50px;
}

@media (max-width: 767.98px) {
  .nav__item {
    padding: 0;
    font-size: 25px;
    line-height: 2.5;
  }
}

.nav__item:first-child {
  padding: 0;
}

.nav__item_activ {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  padding: 0;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 40px;
  background-color: #ffffff;
  z-index: 2000;
}

@media (max-width: 767.98px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
    margin: 0 25px 0 0;
    z-index: 290;
  }
  .menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3c3c3c;
  }
  .menu__icon span:first-child {
    top: 0px;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .menu__icon._active {
    -webkit-animation-name: burger;
            animation-name: burger;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
  }
  .menu__icon._active .icon-menu__title {
    display: none;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #000000;
  }
  .menu__icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.menu__icon__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #f4544d;
  margin: 0 0 0 10px;
  -webkit-transition: all 1s ease 0;
  transition: all 1s ease 0;
}

.menu__icon__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 18px;
}

.nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav2__item:hover {
  font-weight: 700;
}

.nav2__link:hover {
  color: #ada074;
}

.nav2__link {
  color: #3c3c3c;
}

.nav2__item {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  padding: 0 0 0 50px;
}

@media (max-width: 767.98px) {
  .nav2__item {
    font-size: 10px;
  }
}

.nav2__item:first-child {
  padding: 0;
}

.nav2__item_activ {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  padding: 0;
}

/*оболочка сайта*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

/*голова*/
.header__container {
  min-height: 100vh;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/header_backgraund.jpg") 0 0/cover no-repeat;
  min-height: 100vh;
  padding: 0 20px;
}

@media (max-height: 400px) {
  .header__row {
    min-height: initial;
  }
}

.header__body {
  max-width: 754px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 195px;
  max-height: 123px;
  margin: 10px 0 60px;
}

.header__text {
  font-family: MyriadPro;
  line-height: 40px;
  color: #ffffff;
  letter-spacing: 0.16em;
}

.header__text-p1 {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 767.98px) {
  .header__text-p1 {
    font-size: 22px;
  }
}

.header__line {
  width: 105px;
  height: 2px;
  background-color: #fff;
  margin: 30px 0 15px;
}

.header__text-p2 {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
  margin: 10px 0 0;
}

@media (max-width: 767.98px) {
  .header__text-p2 {
    font-size: 20px;
  }
}

.header__icon {
  width: 17px;
  height: 10px;
  cursor: pointer;
}

.header__button {
  width: 182px;
  min-height: 47px;
  border: 1px solid #ffffff;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

/*контент*/
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.about {
  padding: 130px 0 70px;
}

.about__body {
  max-width: 823px;
  margin: 0 auto;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 688px;
  text-align: center;
}

.about__text-subtitle {
  font-family: Lato;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}

.about__icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  margin: 69px -31px 0;
  width: 100%;
}

@media (max-width: 600px) {
  .about__icon-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.about__icon-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 15px;
}

.about__icon-img-border {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 41px 0;
}

.about__icon-img-border__icon-img {
  width: 42px;
  height: 32px;
}

.about__icon-title {
  font-family: Lato;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 0 0 36px 0;
}

.about__icon-subtitle {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.portfolio {
  background-color: #f3f3f3;
  max-height: 1671px;
}

.portfolio__container {
  max-width: 1103px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.portfolio__body {
  padding: 107px 0 69px;
}

.portfolio__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__title {
  font-family: Lato;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}

@media (max-width: 767.98px) {
  .portfolio__title {
    font-size: 27px;
  }
}

.portfolio__line {
  margin: 40px 0 50px;
  width: 81px;
  height: 1px;
  background-color: #000000;
}

.portfolio__menu {
  margin: 0 0 70px 0;
}

.portfolio__work-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr 1fr/ 1fr 1fr;
  gap: 20px;
}

.portfolio__work_wrap {
  max-width: 400px;
}

.portfolio__work {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__button {
  border: 2px solid #000;
  width: 182px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 64px 0 0 0;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #000000;
}

@media (max-width: 767.98px) {
  .portfolio__button {
    width: 140px;
    height: 30px;
    font-size: 11px;
  }
}

.our-partners {
  background: url("../../img/content_backgraund.jpg") 0 0/cover no-repeat;
  min-height: 390px;
}

.our-partners__body {
  padding: 100px 0 104px;
}

@media (max-width: 579.98px) {
  .our-partners__body {
    padding: 50px 0;
  }
}

.our-partners__container {
  max-width: 584px;
  min-height: 185px;
  margin: 0 auto;
  text-align: center;
}

.our-partners__title {
  font-family: Lato;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 20px 0 93px;
}

@media (max-width: 579.98px) {
  .our-partners__title {
    margin: 20px 0 40px;
  }
}

.our-partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 579.98px) {
  .our-partners__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 579.98px) {
  .our-partners__icon {
    margin: 20px 30px;
  }
}

.our-partners__icon1 {
  width: 35px;
  height: 47px;
}

.our-partners__icon2 {
  width: 53px;
  height: 63px;
}

.our-partners__icon4 {
  width: 111px;
  height: 40px;
}

.contact__body {
  min-height: 830px;
}

.contact__container {
  max-width: 718px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 70px 0;
}

@media (max-width: 767.98px) {
  .contact__container {
    padding: 60px 20px 40px;
  }
}

.contact__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__line {
  width: 81px;
  height: 1px;
  background-color: #000000;
  margin: 46px 0 0 0;
}

.contact__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 119px 0 0 0;
}

@media (max-width: 767.98px) {
  .contact__down {
    margin: 60px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .contact__form-body {
    max-width: 400px;
    margin: 0 auto;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 81px 0 0;
}

.contact__form input._error {
  -webkit-box-shadow: 0 0 15px yellow;
          box-shadow: 0 0 15px yellow;
}

@media (max-width: 767.98px) {
  .contact__form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
}

.contact__title-input {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0 0 19px;
}

.contact__your-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 20px 0 0;
}

.contact__body-your-name {
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
  border-top: 1px solid #000000;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  padding: 10px;
}

.contact__emeil {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 20px 0 0;
}

.contact__body-emeil {
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
  border-top: 1px solid #000000;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  padding: 10px;
}

.contact__message {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 75px 0 0 0;
}

@media (max-width: 767.98px) {
  .contact__message {
    margin: 40px 0 0;
  }
}

.contact__body-message {
  width: 100%;
  height: 118px;
  background-color: #f8f7f7;
  border-top: 1px solid #000000;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  padding: 10px;
}

.contact__body-submit {
  margin: 42px 0 0 0;
  cursor: pointer;
}

.contact__info {
  max-width: 256px;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .contact__info {
    margin: 30px 0 0;
  }
}

.contact__info-p {
  font-weight: 300;
}

.contact__socials {
  margin: 42px 0 0 0;
}

.contact__email {
  margin: 15px 0 0 0;
}

/*футер*/
.footer {
  min-height: 274px;
  background-color: #3c3c3c;
}

.footer__body {
  max-width: 260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 122px;
  height: 78px;
  margin: 48px 0 0 0;
}

.footer__nav {
  margin: 41px 0 34px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-item {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  padding: 0 22px 0 0;
}

.footer__nav-item:last-child {
  padding: 0;
}

.footer__link {
  color: #a4a4a4;
}

.footer__item:last-child {
  padding: 0;
}

.footer__subtitle {
  font-family: MyriadPro;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
  margin: 0 0 49px 0;
}
